﻿<!DOCTYPE html>
<html ng-app="bloom">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Font awesome -->
    <link href="~/public/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Bootstrap and Fonts -->
    <link href="~/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/public/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="~/public/js/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="~/Public/js/plugins/clockpicker/bootstrap-clockpicker.min.css" rel="stylesheet" />

    <!-- Main Inspinia CSS files -->
    <link href="~/public/css/animate.css" rel="stylesheet">
    <link href="~/public/css/custom.css" rel="stylesheet">
    <link id="loadBefore" href="~/public/css/style.css" rel="stylesheet">

    <link href="~/Scripts/qTip/jquery.qtip.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/public/js/plugins/gallery-master/css/blueimp-gallery.min.css">
    <script>
        var global = { TimeZone: "@System.Configuration.ConfigurationManager.AppSettings["CurrentTimezone"]" };
    </script>

</head>
<body ng-controller="mainController as main">
    <loading-Bar></loading-Bar>
    <interceptor></interceptor>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Main view  -->
    <div ui-view></div>

    <!-- jQuery and Bootstrap -->
    <script src="~/public/js/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/public/js/plugins/jquery-ui/jquery-ui.js"></script>
    <script src="~/public/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/qTip/jquery.qtip.min.js"></script>
    <script src="~/public/js/plugins/gallery-master/js/blueimp-gallery.min.js"></script>

    <!-- MetsiMenu -->
    <script src="~/public/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- SlimScroll -->
    <script src="~/public/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Peace JS -->
    <!-- <script src="~/public/js/plugins/pace/pace.min.js"></script>-->
    <!-- Google Maps -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5C6xLb_p080IROfTmJA7cneaajIyznnM"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/public/js/inspinia.js"></script>

    <script src="~/Public/js/plugins/markers/markerWithLabel.js"></script>

    <script src="~/Public/js/plugins/fileSaver/FileSaver.js"></script>
    <!-- SignalR scripts-->
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>

    <!-- Main Angular scripts-->
    <script src="~/public/js/angular/angular.min.js"></script>
    <script src="~/public/js/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>
    <script src="~/public/js/ui-router/angular-ui-router.min.js"></script>
    <script src="~/public/js/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="~/public/js/plugins/toastr/toastr.min.js"></script>
    <script src="~/public/js/plugins/moment/moment.min.js"></script>
    <script src="~/Scripts/ng-file-upload.min.js"></script>
    <script src="~/Scripts/ng-file-upload-shim.min.js"></script>
    <script src="~/public/js/plugins/colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/public/js/plugins/clockpicker/bootstrap-clockpicker.js"></script>

    <!-- Anglar App Script -->
    <script src="~/app/common/commonConstants.js"></script>
    <script src="~/app/common/commonDirectives.js"></script>
    <script src="~/app/common/commonDataService.js"></script>
    <script src="~/app/common/commonStateManager.js"></script>
    <script src="~/App/common/commonLoadingBarService.js"></script>
    <script src="~/App/common/commonHub.js"></script>
    <script src="~/app/common/commonNotificationService.js"></script>
    <script src="~/app/common/mainController.js"></script>
    <script src="~/App/workorders/modalWindowService.js"></script>
    <script src="~/app/common/commonModule.js"></script>
    <script src="~/app/dashboard/dashboardController.js"></script>
    <script src="~/app/dashboard/dashboardModule.js"></script>
    <script src="~/app/map/mapController.js"></script>
    <script src="~/app/map/mapModule.js"></script>
    <script src="~/app/schedule/scheduleController.js"></script>
    <script src="~/app/schedule/scheduleModule.js"></script>
    <script src="~/app/technician/technicianController.js"></script>
    <script src="~/app/technician/editTechnicianController.js"></script>
    <script src="~/app/technician/technicianModule.js"></script>
    <script src="~/app/workorders/workorderController.js"></script>
    <script src="~/app/workorders/createWorkorderController.js"></script>
    <script src="~/app/workorders/editWorkorderController.js"></script>

    <script src="~/app/workorders/workorderModule.js"></script>
    <script src="~/app/login/loginController.js"></script>
    <script src="~/app/login/loginModule.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/Public/js/plugins/pagination/dirPagination.js"></script>
    <script src="~/App/common/commonHub.js"></script>

</body>
</html>